name: Deploy Hugo Website to GitHub Pages

on:
  push:
    branches:
      - main # Change this to the branch you want to trigger the deployment

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14 # Adjust the Node.js version if needed

    - name: Install npm dependencies
      run: |
        npm install
      working-directory: .

    - name: Build Hugo site
      run: |
        hugo --baseURL="https://coderdojohelmond.nl/"
      working-directory: .

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        personal_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: public
        publish_branch: gh-pages
